/*header.hero-unit {
    background: linear-gradient(#0f7015 0%, #96e99f 100%);
}

header small{
    color: whitesmoke;
}

header.hero-unit h1 {
    color: black;
}*/

.footer {
    margin-top: 30pt;
}

.search-query {
    width: 120px;
}

/*.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

/* login page */
#loginForm {
    float: left;
    border-left: solid 2px #c8c8c8;
    margin-left: 20px;
    padding-left: 20px;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

a, h4 a, a:hover, h4 a:hover {
    color: #333333;
}

table tr.match-result td {
    font-weight: bold;
    vertical-align: top;
}

table tr.match-result td.home {
    text-align: right;
    width: 45%;
    padding-right: 5pt;
}

table tr.match-result td.away {
    text-align: left;
    width: 45%;
    padding-left: 5pt;
}

table tr.match-result td.result {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

table tr.goal-scorers td {
    font-size: smaller;
    color: #777777;
    padding-top: 0;
    padding-bottom: 6pt;
    vertical-align: top;
}

table tr.goal-scorers td.home {
    text-align: right;
    padding-right: 5pt;
}

table tr.goal-scorers td.away {
    text-align: left;
    padding-left: 5pt;
}
