<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WorldContext" providerName="System.Data.SqlClient"
         connectionString="Server=.\SQLEXPRESS;Database=EuroManager;Trusted_Connection=true"/>
  </connectionStrings>
  <appSettings>
    <add key="DatabaseInitializerForType EuroManager.WorldSimulator.DataAccess.WorldContext, EuroManager.WorldSimulator.DataAccess"
         value="System.Data.Entity.DropCreateDatabaseIfModelChanges`1[[EuroManager.WorldSimulator.DataAccess.WorldContext, EuroManager.WorldSimulator.DataAccess]], EntityFramework" />
  </appSettings>
</configuration>