@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <hgroup class="title">
            <h1>About the project</h1>
        </hgroup>
    </div>
    <div class="row">
        <article>
            <p>
                This is a development version of EuroManager, an online football (soccer) manager game.
                The most important part of the game is the fully automated football world, including the most important
                competitions, players growth, transfers, emerging talents and a lot of other details.
            </p>

            <p>
                The project is being developed by <a href="http://www.linkedin.com/profile/view?id=19552376">Rafal Barszczewski</a> on GitHub:
                <a href="https://github.com/rafalb/EuroManager">EuroManager on GitHub</a>
            </p>

            <p>
                If you would like to support the project or express your excitement about it, please contact the author:
                <a href="http://www.linkedin.com/profile/view?id=19552376">Rafal Barszczewski</a>
            </p>
        </article>
    </div>
</div>
