@model IEnumerable<EuroManager.WorldSimulator.Services.Data.TeamStats>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>EuroManager.</h1>
                <h2>A realistic football world simulation.</h2>
            </hgroup>
        </div>
    </section>
}
<ul>
    @foreach (var teamStats in Model)
    {
        <li>@teamStats.TeamName</li>
    }
</ul>