@{
    ViewBag.Title = "Start";
}

@section PageHeader
{
    <header class="hero-unit page-header">
        <div class="container">
            <h1>
                EuroManager
                <small>A realistic football world simulation</small>
                @Html.ActionLink("Learn more", "About", "Home", null, new { @class = "btn btn-success btn-large" })
            </h1>
        </div>
    </header>
}

@Html.Action("Recent", "Results")
