@if (Request.IsAuthenticated)
{
    <ul class="nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                User: @User.Identity.Name
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Manage account", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username" })</li>
                <li>@Ajax.ActionLink("Logout", "LogOff", "Account", new AjaxOptions { HttpMethod = "Post" })</li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav">
        <li class="divider-vertical"></li>
        <li class="active">@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn-success" })</li>
    </ul>
}
