@model TournamentDetailsModel

@{
    ViewBag.Title = "Tournament Results";
}

<h2>@ViewBag.Title</h2>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            @foreach (var tournament in Model.Tournaments)
            {
                @Html.MenuItem(tournament.Name, "Tournament", "Results", new { id = tournament.Id },
                    isActive: tournament.Id == Model.SelectedTournamentId)
            }
        </ul>
    </div>
</div>