@model EuroManager.WorldSimulator.Presentation.Web.Models.AdvanceDateModel

@{
    ViewBag.Title = "Advance Date";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.TargetDate, "Target date")
    @Html.TextBoxFor(m => m.TargetDate, "{0:d}", new { id = "datepicker" })
    @Html.ValidationMessageFor(m => m.TargetDate)
    <div>
        <input type="submit" value="Advance" />
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#datepicker').datepicker({
                autoclose: true,
                format: 'mm/dd/yyyy'
            });
        });
    </script>
}
