<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
         connectionString="Server=29c2e38e-2949-48d9-8941-a18b015ce9c3.sqlserver.sequelizer.com;Database=db29c2e38e294948d98941a18b015ce9c3;User ID=gpkbpikvzrtvzzum;Password=6mYU8aARsLpxM4AGdH673LHshWq4ydkYekJrK7fokQS7ebn8omWu7YKsLFLjSFso;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="WorldContext" providerName="System.Data.SqlClient"
         connectionString="Server=29c2e38e-2949-48d9-8941-a18b015ce9c3.sqlserver.sequelizer.com;Database=db29c2e38e294948d98941a18b015ce9c3;User ID=gpkbpikvzrtvzzum;Password=6mYU8aARsLpxM4AGdH673LHshWq4ydkYekJrK7fokQS7ebn8omWu7YKsLFLjSFso;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
</configuration>